{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
  <h2>Sign Up</h2>
  {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method="post">
    <dl>
      <dt>Shop Name:
      <dd><input type="text" name="shop_name" size="30" value="{{ request.form.shop_name }}">
      <dt>TYPE:
      <dd><input type="text" name="type" size="30" value="{{ request.form.type }}">
      <dt>Password:
      <dd><input type="text" name="password" size="30" value="">
      <dt>north:
      <dd><input type="number" name="north" size="30" step="0.000000001"  value="{{ request.form.north }}">
      <dt>east:
      <dd><input type="number" name="east" size="30"  step="0.000000001" value="{{ request.form.east }}">
    </dl>
    <div class="actions"><input type="submit" value="Sign Up"></div>
  </form>
{% endblock %}