
<!DOCTYPE html>

<html>
<title>{% block title %}Shop{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<h1 style="color:red">WEB Application </h1>
<body style ="background-color:powderblue;"  >

  <div class="navigation">
  {% if g.user %}

    <a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
  {% else %}

    </div>
  {% endif %}

  <div  class="Shop">
      <dl>
          <dt><strong style="color:blue">{{shop_name}}</strong></dt>
          <dt>{{type}}</dt>
      </dl>
  </div>

  <form  action="" method="post">
    <dl>
      <dt>Item:<dd><input type="text" name="name" size="25" value=""> :Name
        <dd><input type="text" name="type" size="25" value=""> :Type
        <dd><input type="number" name="price" size="30" value=""> :price
        <div class="actions"><input type="submit" value=Add></div>
    </dl>


  {% if not error %}

    {% endif %}
  </form>

  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
         <ul class="flashes">
             {% for message in flashes %}
           <li>{{ message }}
             {% endfor %}

        </ul>
      {% endif %}
    {% endwith %}

{% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
<table   style="width:60%;
                border: 1px solid black;
                border-collapse: collapse;">
    <tr>
    <th style=" padding: 5px;
                text-align: left;
                border: 1px solid black;
                border-collapse: collapse;
                background:blue;"><strong>Name</strong></th>
     <th style=" padding: 5px;
                text-align: left;
                border: 1px solid black;
                border-collapse: collapse;
                background:blue;"><strong>Type</strong></th>
    <th style=" padding: 5px;
                text-align: left;
                border: 1px solid black;
                border-collapse: collapse;
                background:blue;"><strong>Price</strong></th>
  </tr>
    {% for id in item_list %}
  <tr>
    <th style=" padding: 5px;
                text-align: left;
                border: 1px solid black;
                border-collapse: collapse;">{{id['name']}}</th>
     <th style=" padding: 5px;
                text-align: left;
                border: 1px solid black;
                border-collapse: collapse;">{{id['type']}}</th>
    <th style=" padding: 5px;
                text-align: left;
                border: 1px solid black;
                border-collapse: collapse;">{{id['price']}}</th>
  </tr>
    {% endfor %}
</table>
</body>
</html>

